
/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
html {
	font-family: 'Open Sans', sans-serif !important;
}
body {
	font-family: 'Open Sans', sans-serif !important;
	line-height: 1.4em;
	color: #4d4d4d;
}

h2 {
	color: $vin-blue;
}

p {
	line-height: 1.3em;
}

.suggestions-modal {

	ul {
		li {
			list-style: none;
			color: $vin-blue;
			cursor: pointer;
		}
	}
}

*:focus {
	//remove blue outline thing http://stackoverflow.com/a/34635972/1516309
	outline: none !important
}
