
/* Variables */
$vin-blue: #008cba;

/* Global Styles */
html {
	font-family: 'Open Sans', sans-serif !important;
}

body {
	font-family: 'Open Sans', sans-serif !important;
	line-height: 1.4em;
	color: #4d4d4d;
}

h1, h2, h3, h4, h5 {
	color: $vin-blue;
}

p {
	line-height: 1.3em;
}

.suggestions-modal {

	h4 {
		color: darken(#999, 25%);
	}

	ul {
		li {
			list-style: none;
			color: $vin-blue;
			cursor: pointer;
		}
	}
}

*:focus {
	//remove blue outline thing http://stackoverflow.com/a/34635972/1516309
	outline: none !important
}
